<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/header-footer.css">
    <link rel="stylesheet" href="../css/main-components.css">
    <title>Document</title>
</head>

<body>
    <header>
     <img src="../img/Logo Gure.png" alt="Icono" />
    <div>
        <nav>
            <ul>
                <li><a href="../Index.html">Cerrar Sesion</a></li>
                
            </ul>
        </nav>
    </div>
    
    </header>
    <table class="tablaclickable" id="datosUsuario">
        <tr style="background-color: lightgray;">
            <th>Id</th>
            <th>Email</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Teléfono</th>
            <th>Género</th>
        </tr>
        <tr onclick="togglerow(this)">
            <td>1</td>
            <td>usuario@example.com</td>
            <td>Juan</td>
            <td>Pérez</td>
            <td>555-1234</td>
            <td>Masculino</td>
        </tr>
        <tr onclick="togglerow(this)">
            <td>1</td>
            <td>usuario@example.com</td>
            <td>Juan</td>
            <td>Pérez</td>
            <td>555-1234</td>
            <td>Masculino</td>
        </tr>
    </table>
    <button id="modificar">modificar</button>
    <button id="eliminar" onclick="eliminarUsuario()">eliminar</button>
    <script src="../script/script.js"></script>
    <footer>
        <div>
            <p>Gure Event &copy; 2024</p>
        </div>
    </footer>
</body>

</html>