<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/header-footer.css">
    <link rel="stylesheet" href="../css/main-components.css">
    <script src="../script/admin.js" defer></script>
    <title>Document</title>
</head>

<body>
    <header>
        <a href="../Index.html">
            <img src="../img/Logo Gure.png" alt="Icono" />
        </a>
        <div>
            <nav>
                <ul>
                    <li><a href="../Index.html">Cerrar Sesion</a></li>
                </ul>
            </nav>
        </div>

    </header>

    <table class="tablaclickable" id="datosUsuario">
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Teléfono</th>
            <th>Género</th>
        </tr>
    </table>
    <section class="botones-admin">
        <button id="modificar">modificar</button>
        <button id="eliminar">eliminar</button>
    </section>
    <footer>
        <div>
            <p>Gure Event &copy; 2024</p>
        </div>
    </footer>
</body>

</html>