<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/header-footer.css">
    <link rel="stylesheet" href="../css/main-components.css">
    <title>Registro de usuario</title>
</head>

<body>
    <header>
     <img src="../img/Logo Gure.png" alt="Icono" />
    <div>
        <nav>
            <ul>
                <li><a href="../Index.html">Inicio</a></li>
                <li><a href="Login.html">Iniciar Sesion</a></li>    
            </ul>
        </nav>
    </div>
    </header>
    <div class="container">
        <h2>Registro de usuario</h2>
        <form method="post">
            <div  class="text-danger"></div>

            <div class="form-group">
                <label for="Email">Email</label>
                <input type="email" id="Email" name="Email" class="form-control" />
                <span class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="Password">Contraseña</label>
                <input type="password" id="Password" name="Password" class="form-control" />
                <span class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="FullName">Nombre</label>
                <input type="text" id="FullName" name="FullName" class="form-control" />
                <span class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="LastName">Apellido</label>
                <input type="text" id="LastName" name="LastName" class="form-control" />
                <span class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="Phone">Teléfono</label>
                <input type="tel" id="Phone" name="Phone" class="form-control" />
                <span class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="Gender">Género</label>
                <input type="text" id="Gender" name="Gender" class="form-control" />
                <span class="text-danger"></span>
            </div>
            <button type="submit">Registrarse</button>
        </form>
    </div>
    <footer>
        <div>
            <p>Gure Event &copy; 2024</p>
        </div>
    </footer>
</body>
</html>